# #############################################################################
# Google Variables
# #############################################################################

google_region  = ""
google_project = ""
google_creds   = ""


# #############################################################################
# Network Variables
# #############################################################################

vpc_name                = ""
# If set false, it will not setup default subnets on all zones
auto_create_subnetworks = <true|false>

subnet_name        = ""
subnet_cidr_block  = ""


# #############################################################################
# GKE Variables
# #############################################################################

cluster_name          = ""
cluster_location      = ""
nodepool_default_name = ""
machine_type          = ""


# #############################################################################
# Application Variables
# #############################################################################

app_name  = ""
app_image = ""
container_port = <port_number>